@font-face {
    font-family: Muli;
    src: url(./img/fonts/muli-bold-italic.ttf),
        url(./img/fonts/Muli-Bold.ttf);
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: Muli;
    src: url(./img/fonts/muli-extrabold.ttf),
        url(./img/fonts/muli-italic.ttf);
}

@font-face {
    font-family: Muli;
    src: url(./img/fonts/muli-regular.ttf),
        url(./img/fonts/muli-semibold.ttf);
}

header {
    font-family: Muli;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: url(./img/smoothies/header-bg-img.png) no-repeat;
    background-size: cover;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

* {
    border: 1px solid red;
}

.social__link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    min-width: 35px;
    max-width: 35px;
    background-color: #ffffff;
    border-radius: 50%;
}

.personal__cart-count {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 18px;
    width: 18px;
    font-size: 10px;
    background-color: #ffffff;
    border-radius: 50%;
    color: #000;
}

.header__nav {
    padding: 20px;
}

.header__logo {
    padding: 20px;
}

.header__social-list {
    display: flex;
}

.header__content {
    display: flex;
    justify-content: center;
}

.header__top {
    display: flex;
    padding: 70px 100px 100px;
    justify-content: space-between;
    align-items: center;
}

.header__btn {
    background-color:#0aa566;
    width: 280px;
    height: 70px;
    border-radius: 35px;
    font-size: 24px;
}

.smoothies__text {
    font-family: "Muli-bold";
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
    margin: 0 auto 50px auto;
}

.smoothies__title {
    font-size: 50px;
    ;
    line-height: normal;
    text-align: center;
    color: #f7af3d;
    margin-bottom: 50px;
}

.nav__list-link {
    width: 540px;
    height: 11px;
    color: #ffffff;
    font-family: Muli;
    font-size: 13px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    line-height: 40px;
    text-align: left;
    text-transform: uppercase;
    font-style: normal;
    letter-spacing: 0.32px;
    line-height: normal;
}

.nav__list {
    display: flex;
    column-gap: 35px;
}

.personal__list {
    column-gap: 35px;
    display: flex;
}

.header__right-block {
    display: flex;
    column-gap: 150px;
    align-items: center;
}

.smoothies__inner {
    width: 25%;
    height: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.smoothies__wrap {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

.content__list-item {
    list-style-image: url(./img/about/1.png);
}

.instagram {
    display: flex;
}

.about {
    background-color: #16826e;
    display: flex;
}

.about__img {
	padding: 60px 0 0 145px;
	margin-right: 140px;
}

.about__content {
    
}

.about__title {
    font-size: 55px;
    line-height: 1.2em;
    color: #ffffff;
    margin-top: 10px;
    margin-right: 10px;
}

.about__title--bold {
    color: #cae941;
}

.content__list {
    list-style-image: url(/img/about/1.png)
}

.content__list {
    padding: 50px;
    color: #ffffff;
}

.about__btn {
    color: #ffffff;
    background-color: transparent;
    width: 380px;
    height: 60px;
    border: 2px solid #f8b231;
    border-radius: 30px;
    font-size: 21px;
    line-height: 22px;
}

.products__inner--chocolate {
    background-color: #632b16;
}

.products {
    display: flex;
}

.products__inner {
    text-align: center;
    width: 480px;
    height: 720px;
    margin-bottom: 120px;
}

.products__inner--chocolate {
    background-color: #632b16;
}

.products__inner--green {
    background-color: #1a846e;
}

.products__inner--yellow {
    background-color: #f7b03b;
}

.products__inner--orange {
    background-color: #c1451b;
}

.products__img {
    margin-bottom: 34px;
}

.story__title {
    color: #f7ae3b;
    margin-bottom: 40px;
}

.story__text {
    line-height: 40px;
    margin-bottom: 60px;
}

.story__btn {
    margin: 20px;
    padding: 20px;
    width: 280px;
    height: 70px;
    color: white;
    border-radius: 35px;
    background-color: #0aa566;
    font-size: 24px;
    font-weight: 400;
    text-align: left;
    letter-spacing: -0.48px;
}

.testimonials__title {
    color: #f7ae3b;
}

.testimonials-bold {
    color: #f2612d;
}